html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* body {
	line-height: 1;
} */
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
}

:root {
    /* Theme 1 */
    --bs-mainbackground: hsl(222, 26%, 31%);
    --bs-togglekeypadbackground : hsl(223, 31%, 20%);
    --bs-screenbackground: hsl(224, 36%, 15%);
    --bs-cardBG: hsl(216, 50%, 16%);
    

    /* Keys */

    --bs-blueKeyBackground: hsl(225, 21%, 49%);
    --bs-blueKeyShadow: hsl(224, 28%, 35%);
    --bs-keyBackgroundToggle: hsl(6, 63%, 50%);
    --bs-keyShadow: hsl(6, 70%, 34%);
    --bs-keybackground: hsl(30, 25%, 89%);
    --bs-keyshadow: rgb(180, 165, 151);
    
     /* Text */
    
     --bs-Verydarkgrayishblue: hsl(221, 14%, 31%);
     --bs-White: rgb(255, 255, 255);

    }
    


    
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-family: 'League Spartan', sans-serif;
        background-color:var(--bs-mainbackground);
        margin: 1.5rem 1rem;
        font-weight: 700;
        transition: all 0.3s;
    }

  

    .container{
        /* margin-top:1rem; */
        display: grid;
        gap: 20px;
    }


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--bs-White);
    }

.header-toggle{
    display: flex;
    align-items: center;
}




.toggle {
    display: flex;
    height: 20px;
    margin-left: 0.5rem;
    width: 55px;
    border-radius: 30px;
    background-color: var(--bs-screenbackground);
    justify-content: space-evenly;
    position: relative;

}

.one, .two, .three{
    margin: 0;
    z-index: 1;
    opacity: 0;
}

.label-one, .label-two, .label-three, .para-heading{
    font-size: 0.7rem;
}


.label-one {
    position: absolute;
    top: -13px;
    left: 7px;
}

.label-two{
    position:absolute;
    top: -13px;
    left: 23px;
}

.label-three{
    position:absolute;
    top: -13px;
    left: 41px
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }

  .slider::before {
    content: "";
    position: absolute;
    top: 2.4px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color:var(--bs-keyBackgroundToggle);
    transition: 0.3s;
  }

.toggle input[value="1"]:checked ~ .slider::before  {
    transform: translateX(0px);
  }

  .toggle input[value="2"]:checked ~ .slider::before  {
    transform: translateX(17px);
  }

  .toggle input[value="3"]:checked ~ .slider::before  {
    transform: translateX(34px);
  }

.heading{
    font-size: 1.7rem;
}


.output{   
  min-height: 75px;
    border-radius: 10px;
    background-color: var(--bs-screenbackground);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 5px 15px;
    word-wrap:break-word;
    word-break: break-all;
    text-overflow: clip;
}

/* .output{
   grid-column: 1 / -1;
background-color:rgba(0, 0, 0, .75);
display: flex;
align-items: flex-end;
justify-content: space-around;
flex-direction: column;
padding: 35px;
word-wrap:break-word;
word-break: break-all; 
} */


.calculator-box{
    display:grid;
    gap: 25px;
}


.output .previous-operand{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, .75);
}

.output .current-operand{
    font-size: 2.5rem;
    color:white;
}

.button-box{
    padding: 1.3rem;
    background-color: var(--bs-cardBG);
    gap: 15px;
    justify-content: center;
    display: grid;
    border-radius: 10px;
  }

  .row{
    /* display: flex; */
    width: 100%;
  }

 button{
    font-weight: 700;
    font-size: 1.5rem;
    background-color: var(--bs-keybackground);
    border-radius: 5px;
    width: 65px;
    height: 70px;
    margin: 0.22rem;
    color: var(--bs-Verydarkgrayishblue);
    outline: none;
    border: none;
  }
  
  button:hover , button:focus{
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--bs-White);
  }

.row > .span-two{
width: 46.6%;

  }
.delete, .reset{
    color: var(--bs-White);
    background-color: var(--bs-blueKeyBackground);
}

.equal{
    color: var(--bs-White);
    background-color: var(--bs-keyBackgroundToggle);
}

.delete:hover, .delete:focus, .reset:hover, .reset:focus {
    background-color: var(--bs-blueKeyBackground);
}


.equal{
    color: var(--bs-White);
    background-color: var(--bs-keyBackgroundToggle);
}

.equal:hover, .equal:focus{
    background-color: var(--bs-keyBackgroundToggle);
}

/* Themes */
.body-two{
    background-color:gray;
    transition: all 0.3s;
}

.body-three{
    background-color: burlywood;
    transition: all 0.3s;
}